* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}
.theme-container .content{
  max-width: 800px;
  .example-box{
    p{
      margin: 10px 0;
    }
  }
}